openapi: 3.0.0
info:
  title: X (Twitter) API
  version: "2"
  description: X API v2 endpoints
  # API Reference: https://docs.x.com/x-api/introduction

servers:
  - url: https://api.twitter.com/2

paths:
  /tweets:
    post:
      operationId: createTweet
      summary: Create a tweet
      # Docs: https://docs.x.com/x-api/posts/create-post
      externalDocs:
        description: X API Documentation - Create Post
        url: https://docs.x.com/x-api/posts/create-post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTweetRequest"
      responses:
        "201":
          description: Tweet created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TweetResponse"

  /tweets/{id}:
    get:
      operationId: getTweet
      summary: Get a tweet by ID
      # Docs: https://docs.x.com/x-api/posts/get-post-by-id
      externalDocs:
        description: X API Documentation - Get Post by ID
        url: https://docs.x.com/x-api/posts/get-post-by-id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: tweet.fields
          in: query
          schema:
            type: string
          description: Comma-separated list of Tweet fields to display
        - name: expansions
          in: query
          schema:
            type: string
          description: Comma-separated list of expansions
        - name: media.fields
          in: query
          schema:
            type: string
          description: Comma-separated list of media fields
        - name: poll.fields
          in: query
          schema:
            type: string
          description: Comma-separated list of poll fields
        - name: user.fields
          in: query
          schema:
            type: string
          description: Comma-separated list of user fields
        - name: place.fields
          in: query
          schema:
            type: string
          description: Comma-separated list of place fields
      responses:
        "200":
          description: Tweet retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TweetResponse"
    delete:
      operationId: deleteTweet
      summary: Delete a tweet
      # Docs: https://docs.x.com/x-api/posts/delete-post
      externalDocs:
        description: X API Documentation - Delete Post
        url: https://docs.x.com/x-api/posts/delete-post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Tweet deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteTweetResponse"

  /users/me:
    get:
      operationId: getMe
      summary: Get authenticated user
      # Docs: https://docs.x.com/x-api/users/get-my-user
      externalDocs:
        description: X API Documentation - Get My User
        url: https://docs.x.com/x-api/users/get-my-user
      parameters:
        - name: user.fields
          in: query
          schema:
            type: string
          description: Comma-separated list of user fields
        - name: expansions
          in: query
          schema:
            type: string
          description: Comma-separated list of expansions
        - name: tweet.fields
          in: query
          schema:
            type: string
          description: Comma-separated list of tweet fields
      responses:
        "200":
          description: User retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"

  /users/{id}:
    get:
      operationId: getUser
      summary: Get user by ID
      # Docs: https://docs.x.com/x-api/users/get-user-by-id
      externalDocs:
        description: X API Documentation - Get User by ID
        url: https://docs.x.com/x-api/users/get-user-by-id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
          description: Comma-separated list of user fields
        - name: expansions
          in: query
          schema:
            type: string
          description: Comma-separated list of expansions
        - name: tweet.fields
          in: query
          schema:
            type: string
          description: Comma-separated list of tweet fields
      responses:
        "200":
          description: User retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"

  /users/by/username/{username}:
    get:
      operationId: getUserByUsername
      summary: Get user by username
      # Docs: https://docs.x.com/x-api/users/get-user-by-username
      externalDocs:
        description: X API Documentation - Get User by Username
        url: https://docs.x.com/x-api/users/get-user-by-username
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
          description: Comma-separated list of user fields
        - name: expansions
          in: query
          schema:
            type: string
          description: Comma-separated list of expansions
        - name: tweet.fields
          in: query
          schema:
            type: string
          description: Comma-separated list of tweet fields
      responses:
        "200":
          description: User retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"

  /users/{id}/tweets:
    get:
      operationId: getUserTweets
      summary: Get tweets by user ID
      # Docs: https://docs.x.com/x-api/posts/user-posts-timeline-by-user-id
      externalDocs:
        description: X API Documentation - User Posts Timeline
        url: https://docs.x.com/x-api/posts/user-posts-timeline-by-user-id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: max_results
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: pagination_token
          in: query
          schema:
            type: string
        - name: since_id
          in: query
          schema:
            type: string
          description: Returns results with a Tweet ID greater than this ID
        - name: until_id
          in: query
          schema:
            type: string
          description: Returns results with a Tweet ID less than this ID
        - name: start_time
          in: query
          schema:
            type: string
            format: date-time
          description: YYYY-MM-DDTHH:mm:ssZ format
        - name: end_time
          in: query
          schema:
            type: string
            format: date-time
          description: YYYY-MM-DDTHH:mm:ssZ format
        - name: tweet.fields
          in: query
          schema:
            type: string
        - name: expansions
          in: query
          schema:
            type: string
        - name: media.fields
          in: query
          schema:
            type: string
        - name: poll.fields
          in: query
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
        - name: place.fields
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Tweets retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TweetsResponse"

  /users/{id}/followers:
    get:
      operationId: getFollowers
      summary: Get followers of a user
      # Docs: https://docs.x.com/x-api/users/followers-by-user-id
      externalDocs:
        description: X API Documentation - Get Followers
        url: https://docs.x.com/x-api/users/followers-by-user-id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: max_results
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: pagination_token
          in: query
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
        - name: expansions
          in: query
          schema:
            type: string
        - name: tweet.fields
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Followers retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersResponse"

  /users/{id}/following:
    get:
      operationId: getFollowing
      summary: Get users that a user is following
      # Docs: https://docs.x.com/x-api/users/following-by-user-id
      externalDocs:
        description: X API Documentation - Get Following
        url: https://docs.x.com/x-api/users/following-by-user-id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: max_results
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: pagination_token
          in: query
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
        - name: expansions
          in: query
          schema:
            type: string
        - name: tweet.fields
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Following retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersResponse"
    post:
      operationId: followUser
      summary: Follow a user
      # Docs: https://docs.x.com/x-api/users/follow-user
      externalDocs:
        description: X API Documentation - Follow User
        url: https://docs.x.com/x-api/users/follow-user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the authenticated source user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FollowRequest"
      responses:
        "200":
          description: User followed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FollowResponse"

  /users/{id}/liked_tweets:
    get:
      operationId: getLikedTweets
      summary: Get tweets liked by a user
      # Docs: https://docs.x.com/x-api/users/get-liked-posts
      externalDocs:
        description: X API Documentation - Get Liked Posts
        url: https://docs.x.com/x-api/users/get-liked-posts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: max_results
          in: query
          schema:
            type: integer
            minimum: 5
            maximum: 100
          description: Range is 5-100, not 1-100
        - name: pagination_token
          in: query
          schema:
            type: string
        - name: tweet.fields
          in: query
          schema:
            type: string
        - name: expansions
          in: query
          schema:
            type: string
        - name: media.fields
          in: query
          schema:
            type: string
        - name: poll.fields
          in: query
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
        - name: place.fields
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Liked tweets retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TweetsResponse"

  /users/{id}/likes:
    post:
      operationId: likeTweet
      summary: Like a tweet
      # Docs: https://docs.x.com/x-api/posts/like-post
      externalDocs:
        description: X API Documentation - Like Post
        url: https://docs.x.com/x-api/posts/like-post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the authenticated user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LikeTweetRequest"
      responses:
        "200":
          description: Tweet liked successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LikeResponse"

  /users/{id}/retweets:
    post:
      operationId: retweet
      summary: Retweet a tweet
      # Docs: https://docs.x.com/x-api/posts/repost-post
      externalDocs:
        description: X API Documentation - Repost Post
        url: https://docs.x.com/x-api/posts/repost-post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the authenticated user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetweetRequest"
      responses:
        "200":
          description: Tweet retweeted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetweetResponse"

  /users/{id}/likes/{tweet_id}:
    delete:
      operationId: unlikeTweet
      summary: Unlike a tweet
      # Docs: https://docs.x.com/x-api/posts/unlike-post
      externalDocs:
        description: X API Documentation - Unlike Post
        url: https://docs.x.com/x-api/posts/unlike-post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the authenticated user
        - name: tweet_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the tweet to unlike
      responses:
        "200":
          description: Tweet unliked successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnlikeResponse"

  /users/{id}/retweets/{source_tweet_id}:
    delete:
      operationId: unretweet
      summary: Remove a retweet
      # Docs: https://docs.x.com/x-api/users/unrepost-post
      externalDocs:
        description: X API Documentation - Unrepost Post
        url: https://docs.x.com/x-api/users/unrepost-post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the authenticated user
        - name: source_tweet_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the tweet to unretweet
      responses:
        "200":
          description: Retweet removed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnretweetResponse"

  /users/{source_user_id}/following/{target_user_id}:
    delete:
      operationId: unfollowUser
      summary: Unfollow a user
      # Docs: https://docs.x.com/x-api/users/unfollow-user
      externalDocs:
        description: X API Documentation - Unfollow User
        url: https://docs.x.com/x-api/users/unfollow-user
      parameters:
        - name: source_user_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the authenticated user
        - name: target_user_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the user to unfollow
      responses:
        "200":
          description: User unfollowed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnfollowResponse"

  /users/{id}/bookmarks:
    get:
      operationId: getBookmarks
      summary: Get bookmarked tweets
      # Docs: https://docs.x.com/x-api/bookmarks/bookmarks-by-user
      externalDocs:
        description: X API Documentation - Get Bookmarks
        url: https://docs.x.com/x-api/bookmarks/bookmarks-by-user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: max_results
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: pagination_token
          in: query
          schema:
            type: string
        - name: tweet.fields
          in: query
          schema:
            type: string
        - name: expansions
          in: query
          schema:
            type: string
        - name: media.fields
          in: query
          schema:
            type: string
        - name: poll.fields
          in: query
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
        - name: place.fields
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Bookmarks retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TweetsResponse"
    post:
      operationId: bookmarkTweet
      summary: Bookmark a tweet
      # Docs: https://docs.x.com/x-api/bookmarks/add-post-to-bookmarks
      externalDocs:
        description: X API Documentation - Add Bookmark
        url: https://docs.x.com/x-api/bookmarks/add-post-to-bookmarks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the authenticated user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookmarkRequest"
      responses:
        "200":
          description: Tweet bookmarked successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookmarkResponse"

  /users/{id}/bookmarks/{tweet_id}:
    delete:
      operationId: removeBookmark
      summary: Remove a bookmark
      # Docs: https://docs.x.com/x-api/bookmarks/remove-a-bookmarked-post
      externalDocs:
        description: X API Documentation - Remove Bookmark
        url: https://docs.x.com/x-api/bookmarks/remove-a-bookmarked-post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the authenticated user
        - name: tweet_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the tweet to remove from bookmarks
      responses:
        "200":
          description: Bookmark removed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveBookmarkResponse"

  /users/{id}/blocking:
    get:
      operationId: getBlockedUsers
      summary: Get blocked users
      # Docs: https://docs.x.com/x-api/users/get-blocked-users
      externalDocs:
        description: X API Documentation - Get Blocked Users
        url: https://docs.x.com/x-api/users/get-blocked-users
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: max_results
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: pagination_token
          in: query
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
        - name: expansions
          in: query
          schema:
            type: string
        - name: tweet.fields
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Blocked users retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersResponse"
    post:
      operationId: blockUser
      summary: Block a user
      # Docs: https://docs.x.com/x-api/users/block-user
      externalDocs:
        description: X API Documentation - Block User
        url: https://docs.x.com/x-api/users/block-user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the authenticated user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BlockRequest"
      responses:
        "200":
          description: User blocked successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockResponse"

  /users/{source_user_id}/blocking/{target_user_id}:
    delete:
      operationId: unblockUser
      summary: Unblock a user
      # Docs: https://docs.x.com/x-api/users/unblock-user
      externalDocs:
        description: X API Documentation - Unblock User
        url: https://docs.x.com/x-api/users/unblock-user
      parameters:
        - name: source_user_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the authenticated user
        - name: target_user_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the user to unblock
      responses:
        "200":
          description: User unblocked successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnblockResponse"

  /users/{id}/muting:
    get:
      operationId: getMutedUsers
      summary: Get muted users
      # Docs: https://docs.x.com/x-api/users/get-muted-users
      externalDocs:
        description: X API Documentation - Get Muted Users
        url: https://docs.x.com/x-api/users/get-muted-users
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: max_results
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: pagination_token
          in: query
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
        - name: expansions
          in: query
          schema:
            type: string
        - name: tweet.fields
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Muted users retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersResponse"
    post:
      operationId: muteUser
      summary: Mute a user
      # Docs: https://docs.x.com/x-api/users/mute-user-by-user-id
      externalDocs:
        description: X API Documentation - Mute User
        url: https://docs.x.com/x-api/users/mute-user-by-user-id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the authenticated user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MuteRequest"
      responses:
        "200":
          description: User muted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MuteResponse"

  /users/{source_user_id}/muting/{target_user_id}:
    delete:
      operationId: unmuteUser
      summary: Unmute a user
      # Docs: https://docs.x.com/x-api/users/unmute-user
      externalDocs:
        description: X API Documentation - Unmute User
        url: https://docs.x.com/x-api/users/unmute-user
      parameters:
        - name: source_user_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the authenticated user
        - name: target_user_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the user to unmute
      responses:
        "200":
          description: User unmuted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnmuteResponse"

  /users/{id}/mentions:
    get:
      operationId: getUserMentions
      summary: Get tweets mentioning a user
      # Docs: https://docs.x.com/x-api/posts/user-mention-timeline-by-user-id
      externalDocs:
        description: X API Documentation - User Mention Timeline
        url: https://docs.x.com/x-api/posts/user-mention-timeline-by-user-id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: max_results
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: pagination_token
          in: query
          schema:
            type: string
        - name: since_id
          in: query
          schema:
            type: string
          description: Returns results with a Tweet ID greater than this ID
        - name: until_id
          in: query
          schema:
            type: string
          description: Returns results with a Tweet ID less than this ID
        - name: start_time
          in: query
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          schema:
            type: string
            format: date-time
        - name: tweet.fields
          in: query
          schema:
            type: string
        - name: expansions
          in: query
          schema:
            type: string
        - name: media.fields
          in: query
          schema:
            type: string
        - name: poll.fields
          in: query
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
        - name: place.fields
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Mentions retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TweetsResponse"

  /users/{id}/timelines/reverse_chronological:
    get:
      operationId: getHomeTimeline
      summary: Get reverse chronological home timeline
      # Docs: https://docs.x.com/x-api/posts/timelines/reverse-chronological-timeline
      externalDocs:
        description: X API Documentation - Reverse Chronological Timeline
        url: https://docs.x.com/x-api/posts/timelines/reverse-chronological-timeline
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: max_results
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: pagination_token
          in: query
          schema:
            type: string
        - name: since_id
          in: query
          schema:
            type: string
          description: Returns results with a Tweet ID greater than this ID
        - name: until_id
          in: query
          schema:
            type: string
          description: Returns results with a Tweet ID less than this ID
        - name: start_time
          in: query
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          schema:
            type: string
            format: date-time
        - name: tweet.fields
          in: query
          schema:
            type: string
        - name: expansions
          in: query
          schema:
            type: string
        - name: media.fields
          in: query
          schema:
            type: string
        - name: poll.fields
          in: query
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
        - name: place.fields
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Timeline retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TweetsResponse"

  /tweets/search/recent:
    get:
      operationId: searchRecentTweets
      summary: Search for recent tweets
      # Docs: https://docs.x.com/x-api/posts/search-recent-posts
      externalDocs:
        description: X API Documentation - Search Recent Posts
        url: https://docs.x.com/x-api/posts/search-recent-posts
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 4096
          description: Query string (1-4096 characters)
        - name: max_results
          in: query
          schema:
            type: integer
            minimum: 10
            maximum: 100
            default: 10
        - name: next_token
          in: query
          schema:
            type: string
          description: Token for retrieving the next page
        - name: pagination_token
          in: query
          schema:
            type: string
          description: Alias for next_token
        - name: since_id
          in: query
          schema:
            type: string
          description: Returns results with a Tweet ID greater than this ID
        - name: until_id
          in: query
          schema:
            type: string
          description: Returns results with a Tweet ID less than this ID
        - name: start_time
          in: query
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          schema:
            type: string
            format: date-time
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [recency, relevancy]
          description: Sort order for results
        - name: tweet.fields
          in: query
          schema:
            type: string
        - name: expansions
          in: query
          schema:
            type: string
        - name: media.fields
          in: query
          schema:
            type: string
        - name: poll.fields
          in: query
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
        - name: place.fields
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Tweets retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TweetsResponse"

  /lists:
    post:
      operationId: createList
      summary: Create a new list
      # Docs: https://docs.x.com/x-api/lists/create-list
      externalDocs:
        description: X API Documentation - Create List
        url: https://docs.x.com/x-api/lists/create-list
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateListRequest"
      responses:
        "201":
          description: List created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListResponse"

  /lists/{id}:
    get:
      operationId: getList
      summary: Get a list by ID
      # Docs: https://docs.x.com/x-api/lists/get-list-by-id
      externalDocs:
        description: X API Documentation - Get List by ID
        url: https://docs.x.com/x-api/lists/get-list-by-id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: list.fields
          in: query
          schema:
            type: string
          description: "Options: created_at, description, follower_count, id, member_count, name, owner_id, private"
        - name: expansions
          in: query
          schema:
            type: string
          description: "Options: owner_id"
        - name: user.fields
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListResponse"
    put:
      operationId: updateList
      summary: Update a list
      # Docs: https://docs.x.com/x-api/lists/update-list
      externalDocs:
        description: X API Documentation - Update List
        url: https://docs.x.com/x-api/lists/update-list
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateListRequest"
      responses:
        "200":
          description: List updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListResponse"
    delete:
      operationId: deleteList
      summary: Delete a list
      # Docs: https://docs.x.com/x-api/lists/delete-list
      externalDocs:
        description: X API Documentation - Delete List
        url: https://docs.x.com/x-api/lists/delete-list
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteListResponse"

  /lists/{id}/tweets:
    get:
      operationId: getListTweets
      summary: Get tweets from a list
      # Docs: https://docs.x.com/x-api/lists/get-list-tweets
      externalDocs:
        description: X API Documentation - Get List Tweets
        url: https://docs.x.com/x-api/lists/get-list-tweets
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: max_results
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: pagination_token
          in: query
          schema:
            type: string
        - name: tweet.fields
          in: query
          schema:
            type: string
        - name: expansions
          in: query
          schema:
            type: string
        - name: media.fields
          in: query
          schema:
            type: string
        - name: poll.fields
          in: query
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
        - name: place.fields
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List tweets retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TweetsResponse"

  /lists/{id}/members:
    get:
      operationId: getListMembers
      summary: Get members of a list
      # Docs: https://docs.x.com/x-api/lists/get-list-members
      externalDocs:
        description: X API Documentation - Get List Members
        url: https://docs.x.com/x-api/lists/get-list-members
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: max_results
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: pagination_token
          in: query
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
        - name: expansions
          in: query
          schema:
            type: string
        - name: tweet.fields
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List members retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersResponse"
    post:
      operationId: addListMember
      summary: Add a member to a list
      # Docs: https://docs.x.com/x-api/lists/add-list-member
      externalDocs:
        description: X API Documentation - Add List Member
        url: https://docs.x.com/x-api/lists/add-list-member
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the list
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddListMemberRequest"
      responses:
        "200":
          description: Member added successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddListMemberResponse"

  /lists/{id}/members/{user_id}:
    delete:
      operationId: removeListMember
      summary: Remove a member from a list
      # Docs: https://docs.x.com/x-api/lists/remove-list-member
      externalDocs:
        description: X API Documentation - Remove List Member
        url: https://docs.x.com/x-api/lists/remove-list-member
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the list
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the user to remove
      responses:
        "200":
          description: Member removed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveListMemberResponse"

  /users/{id}/followed_lists:
    get:
      operationId: getFollowedLists
      summary: Get lists followed by a user
      # Docs: https://docs.x.com/x-api/users/get-followed-lists
      externalDocs:
        description: X API Documentation - Get Followed Lists
        url: https://docs.x.com/x-api/users/get-followed-lists
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: max_results
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: pagination_token
          in: query
          schema:
            type: string
        - name: list.fields
          in: query
          schema:
            type: string
        - name: expansions
          in: query
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Followed lists retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListsResponse"
    post:
      operationId: followList
      summary: Follow a list
      # Docs: https://docs.x.com/x-api/users/follow-list
      externalDocs:
        description: X API Documentation - Follow List
        url: https://docs.x.com/x-api/users/follow-list
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the authenticated user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FollowListRequest"
      responses:
        "200":
          description: List followed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FollowListResponse"

  /users/{id}/followed_lists/{list_id}:
    delete:
      operationId: unfollowList
      summary: Unfollow a list
      # Docs: https://docs.x.com/x-api/users/unfollow-list
      externalDocs:
        description: X API Documentation - Unfollow List
        url: https://docs.x.com/x-api/users/unfollow-list
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the authenticated user
        - name: list_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the list to unfollow
      responses:
        "200":
          description: List unfollowed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnfollowListResponse"

  /users/{id}/owned_lists:
    get:
      operationId: getOwnedLists
      summary: Get lists owned by a user
      # Docs: https://docs.x.com/x-api/users/get-owned-lists
      externalDocs:
        description: X API Documentation - Get Owned Lists
        url: https://docs.x.com/x-api/users/get-owned-lists
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: max_results
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: pagination_token
          in: query
          schema:
            type: string
        - name: list.fields
          in: query
          schema:
            type: string
        - name: expansions
          in: query
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Owned lists retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListsResponse"

  /users/{id}/pinned_lists:
    get:
      operationId: getPinnedLists
      summary: Get pinned lists
      # Docs: https://docs.x.com/x-api/users/get-pinned-lists
      externalDocs:
        description: X API Documentation - Get Pinned Lists
        url: https://docs.x.com/x-api/users/get-pinned-lists
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: list.fields
          in: query
          schema:
            type: string
        - name: expansions
          in: query
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Pinned lists retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListsResponse"
    post:
      operationId: pinList
      summary: Pin a list
      # Docs: https://docs.x.com/x-api/lists/pin-list
      externalDocs:
        description: X API Documentation - Pin List
        url: https://docs.x.com/x-api/lists/pin-list
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the authenticated user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PinListRequest"
      responses:
        "200":
          description: List pinned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PinListResponse"

  /users/{id}/pinned_lists/{list_id}:
    delete:
      operationId: unpinList
      summary: Unpin a list
      # Docs: https://docs.x.com/x-api/lists/unpin-list
      externalDocs:
        description: X API Documentation - Unpin List
        url: https://docs.x.com/x-api/lists/unpin-list
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the authenticated user
        - name: list_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the list to unpin
      responses:
        "200":
          description: List unpinned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnpinListResponse"

  /spaces:
    get:
      operationId: getSpaces
      summary: Get multiple spaces by IDs
      # Docs: https://docs.x.com/x-api/spaces/space-lookup-up-space-ids
      externalDocs:
        description: X API Documentation - Space Lookup by IDs
        url: https://docs.x.com/x-api/spaces/space-lookup-up-space-ids
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated list of Space IDs
        - name: space.fields
          in: query
          schema:
            type: string
          description: "Options: created_at, creator_id, ended_at, host_ids, id, invited_user_ids, is_ticketed, lang, participant_count, scheduled_start, speaker_ids, started_at, state, subscriber_count, title, topic_ids, updated_at"
        - name: expansions
          in: query
          schema:
            type: string
          description: "Options: creator_id, host_ids, invited_user_ids, speaker_ids, topic_ids"
        - name: user.fields
          in: query
          schema:
            type: string
        - name: topic.fields
          in: query
          schema:
            type: string
          description: "Options: description, id, name"
      responses:
        "200":
          description: Spaces retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpacesResponse"

  /spaces/{id}:
    get:
      operationId: getSpace
      summary: Get a space by ID
      # Docs: https://docs.x.com/x-api/spaces/space-lookup-by-space-id
      externalDocs:
        description: X API Documentation - Space Lookup by ID
        url: https://docs.x.com/x-api/spaces/space-lookup-by-space-id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: space.fields
          in: query
          schema:
            type: string
          description: "Options: created_at, creator_id, ended_at, host_ids, id, invited_user_ids, is_ticketed, lang, participant_count, scheduled_start, speaker_ids, started_at, state, subscriber_count, title, topic_ids, updated_at"
        - name: expansions
          in: query
          schema:
            type: string
          description: "Options: creator_id, host_ids, invited_user_ids, speaker_ids, topic_ids"
        - name: user.fields
          in: query
          schema:
            type: string
        - name: topic.fields
          in: query
          schema:
            type: string
          description: "Options: description, id, name"
      responses:
        "200":
          description: Space retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpaceResponse"

  /spaces/{id}/buyers:
    get:
      operationId: getSpaceBuyers
      summary: Get buyers of a space
      # Docs: https://docs.x.com/x-api/spaces/get-space-buyers
      externalDocs:
        description: X API Documentation - Get Space Buyers
        url: https://docs.x.com/x-api/spaces/get-space-buyers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: user.fields
          in: query
          schema:
            type: string
        - name: expansions
          in: query
          schema:
            type: string
        - name: tweet.fields
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Space buyers retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersResponse"

  /spaces/search:
    get:
      operationId: searchSpaces
      summary: Search for spaces
      # Docs: https://docs.x.com/x-api/spaces/search-spaces
      externalDocs:
        description: X API Documentation - Search Spaces
        url: https://docs.x.com/x-api/spaces/search-spaces
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 2048
          description: Query string (1-2048 characters)
        - name: state
          in: query
          schema:
            type: string
            enum: [live, scheduled, all]
            default: all
          description: Filter by Space state
        - name: max_results
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
        - name: space.fields
          in: query
          schema:
            type: string
          description: "Options: created_at, creator_id, ended_at, host_ids, id, invited_user_ids, is_ticketed, lang, participant_count, scheduled_start, speaker_ids, started_at, state, subscriber_count, title, topic_ids, updated_at"
        - name: expansions
          in: query
          schema:
            type: string
          description: "Options: creator_id, host_ids, invited_user_ids, speaker_ids, topic_ids"
        - name: user.fields
          in: query
          schema:
            type: string
        - name: topic.fields
          in: query
          schema:
            type: string
          description: "Options: description, id, name"
      responses:
        "200":
          description: Spaces retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpacesResponse"

components:
  schemas:
    Tweet:
      type: object
      required:
        - id
        - text
      properties:
        id:
          type: string
        text:
          type: string
        author_id:
          type: string
        created_at:
          type: string
          format: date-time
        edit_history_tweet_ids:
          type: array
          items:
            type: string
          description: Array of Tweet IDs representing the edit history
        conversation_id:
          type: string
        in_reply_to_user_id:
          type: string
        referenced_tweets:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [retweeted, quoted, replied_to]
              id:
                type: string
        attachments:
          type: object
          properties:
            media_keys:
              type: array
              items:
                type: string
            poll_ids:
              type: array
              items:
                type: string
        public_metrics:
          $ref: "#/components/schemas/TweetPublicMetrics"
        entities:
          $ref: "#/components/schemas/TweetEntities"
        context_annotations:
          type: array
          items:
            type: object
        lang:
          type: string
        source:
          type: string
        possibly_sensitive:
          type: boolean
        reply_settings:
          type: string
          enum: [everyone, mentionedUsers, following, other]

    TweetPublicMetrics:
      type: object
      properties:
        retweet_count:
          type: integer
        reply_count:
          type: integer
        like_count:
          type: integer
        quote_count:
          type: integer
        bookmark_count:
          type: integer
        impression_count:
          type: integer

    TweetEntities:
      type: object
      properties:
        hashtags:
          type: array
          items:
            $ref: "#/components/schemas/Hashtag"
        mentions:
          type: array
          items:
            $ref: "#/components/schemas/Mention"
        urls:
          type: array
          items:
            $ref: "#/components/schemas/UrlEntity"
        cashtags:
          type: array
          items:
            type: object
            properties:
              start:
                type: integer
              end:
                type: integer
              tag:
                type: string
        annotations:
          type: array
          items:
            type: object
            properties:
              start:
                type: integer
              end:
                type: integer
              probability:
                type: number
              type:
                type: string
              normalized_text:
                type: string

    Hashtag:
      type: object
      properties:
        start:
          type: integer
        end:
          type: integer
        tag:
          type: string

    Mention:
      type: object
      properties:
        start:
          type: integer
        end:
          type: integer
        username:
          type: string
        id:
          type: string

    UrlEntity:
      type: object
      properties:
        start:
          type: integer
        end:
          type: integer
        url:
          type: string
        expanded_url:
          type: string
        display_url:
          type: string
        title:
          type: string
        description:
          type: string
        unwound_url:
          type: string
        images:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              width:
                type: integer
              height:
                type: integer

    User:
      type: object
      required:
        - id
        - name
        - username
      properties:
        id:
          type: string
        name:
          type: string
        username:
          type: string
        description:
          type: string
        profile_image_url:
          type: string
        profile_banner_url:
          type: string
        created_at:
          type: string
          format: date-time
        public_metrics:
          $ref: "#/components/schemas/UserPublicMetrics"
        verified:
          type: boolean
        verified_type:
          type: string
          enum: [blue, business, government, none]
        location:
          type: string
        url:
          type: string
        protected:
          type: boolean
        pinned_tweet_id:
          type: string
        entities:
          type: object
          properties:
            url:
              type: object
              properties:
                urls:
                  type: array
                  items:
                    $ref: "#/components/schemas/UrlEntity"
            description:
              type: object
              properties:
                hashtags:
                  type: array
                  items:
                    $ref: "#/components/schemas/Hashtag"
                mentions:
                  type: array
                  items:
                    $ref: "#/components/schemas/Mention"
                urls:
                  type: array
                  items:
                    $ref: "#/components/schemas/UrlEntity"
        most_recent_tweet_id:
          type: string
        subscription_type:
          type: string

    UserPublicMetrics:
      type: object
      properties:
        followers_count:
          type: integer
        following_count:
          type: integer
        tweet_count:
          type: integer
        listed_count:
          type: integer
        like_count:
          type: integer

    CreateTweetRequest:
      type: object
      properties:
        text:
          type: string
          maxLength: 25000
          description: Text content (up to 25,000 characters for long-form posts)
        reply:
          type: object
          properties:
            in_reply_to_tweet_id:
              type: string
            exclude_reply_user_ids:
              type: array
              items:
                type: string
        quote_tweet_id:
          type: string
        poll:
          type: object
          properties:
            options:
              type: array
              items:
                type: string
              minItems: 2
              maxItems: 4
            duration_minutes:
              type: integer
              minimum: 5
              maximum: 10080
        media:
          type: object
          properties:
            media_ids:
              type: array
              items:
                type: string
              minItems: 1
              maxItems: 4
            tagged_user_ids:
              type: array
              items:
                type: string
              maxItems: 10
        direct_message_deep_link:
          type: string
        for_super_followers_only:
          type: boolean
          default: false
        geo:
          type: object
          properties:
            place_id:
              type: string
        reply_settings:
          type: string
          enum: [following, mentionedUsers, subscribers, verified]

    TweetResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Tweet"
        includes:
          $ref: "#/components/schemas/Expansions"

    TweetsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Tweet"
        includes:
          $ref: "#/components/schemas/Expansions"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    Expansions:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: "#/components/schemas/User"
        tweets:
          type: array
          items:
            $ref: "#/components/schemas/Tweet"
        media:
          type: array
          items:
            $ref: "#/components/schemas/Media"
        polls:
          type: array
          items:
            $ref: "#/components/schemas/Poll"
        places:
          type: array
          items:
            $ref: "#/components/schemas/Place"

    Media:
      type: object
      properties:
        media_key:
          type: string
        type:
          type: string
          enum: [photo, video, animated_gif]
        url:
          type: string
        preview_image_url:
          type: string
        width:
          type: integer
        height:
          type: integer
        duration_ms:
          type: integer
        alt_text:
          type: string
        variants:
          type: array
          items:
            type: object
            properties:
              bit_rate:
                type: integer
              content_type:
                type: string
              url:
                type: string

    Poll:
      type: object
      properties:
        id:
          type: string
        options:
          type: array
          items:
            type: object
            properties:
              position:
                type: integer
              label:
                type: string
              votes:
                type: integer
        duration_minutes:
          type: integer
        end_datetime:
          type: string
          format: date-time
        voting_status:
          type: string
          enum: [open, closed]

    Place:
      type: object
      properties:
        id:
          type: string
        full_name:
          type: string
        name:
          type: string
        country:
          type: string
        country_code:
          type: string
        place_type:
          type: string
        geo:
          type: object

    UserResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/User"
        includes:
          $ref: "#/components/schemas/Expansions"

    UsersResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/User"
        includes:
          $ref: "#/components/schemas/Expansions"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    DeleteTweetResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            deleted:
              type: boolean

    LikeTweetRequest:
      type: object
      required:
        - tweet_id
      properties:
        tweet_id:
          type: string

    LikeResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            liked:
              type: boolean

    RetweetRequest:
      type: object
      required:
        - tweet_id
      properties:
        tweet_id:
          type: string

    RetweetResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            retweeted:
              type: boolean

    PaginationMeta:
      type: object
      properties:
        result_count:
          type: integer
        next_token:
          type: string
        previous_token:
          type: string
        newest_id:
          type: string
        oldest_id:
          type: string

    UnlikeResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            liked:
              type: boolean

    UnretweetResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            retweeted:
              type: boolean

    FollowRequest:
      type: object
      required:
        - target_user_id
      properties:
        target_user_id:
          type: string

    FollowResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            following:
              type: boolean
            pending_follow:
              type: boolean

    UnfollowResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            following:
              type: boolean

    BookmarkRequest:
      type: object
      required:
        - tweet_id
      properties:
        tweet_id:
          type: string

    BookmarkResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            bookmarked:
              type: boolean

    RemoveBookmarkResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            bookmarked:
              type: boolean

    BlockRequest:
      type: object
      required:
        - target_user_id
      properties:
        target_user_id:
          type: string

    BlockResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            blocking:
              type: boolean

    UnblockResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            blocking:
              type: boolean

    MuteRequest:
      type: object
      required:
        - target_user_id
      properties:
        target_user_id:
          type: string

    MuteResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            muting:
              type: boolean

    UnmuteResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            muting:
              type: boolean

    List:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        private:
          type: boolean
        follower_count:
          type: integer
        member_count:
          type: integer
        owner_id:
          type: string
        created_at:
          type: string
          format: date-time

    CreateListRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          maxLength: 25
        description:
          type: string
          maxLength: 100
        private:
          type: boolean
          default: false

    UpdateListRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 25
        description:
          type: string
          maxLength: 100
        private:
          type: boolean

    ListResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/List"
        includes:
          $ref: "#/components/schemas/Expansions"

    ListsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/List"
        includes:
          $ref: "#/components/schemas/Expansions"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    DeleteListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            deleted:
              type: boolean

    AddListMemberRequest:
      type: object
      required:
        - user_id
      properties:
        user_id:
          type: string

    AddListMemberResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            is_member:
              type: boolean

    RemoveListMemberResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            is_member:
              type: boolean

    FollowListRequest:
      type: object
      required:
        - list_id
      properties:
        list_id:
          type: string

    FollowListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            following:
              type: boolean

    UnfollowListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            following:
              type: boolean

    PinListRequest:
      type: object
      required:
        - list_id
      properties:
        list_id:
          type: string

    PinListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            pinned:
              type: boolean

    UnpinListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            pinned:
              type: boolean

    Space:
      type: object
      required:
        - id
        - state
      properties:
        id:
          type: string
        state:
          type: string
          enum: [live, scheduled, ended]
        title:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
        scheduled_start:
          type: string
          format: date-time
        host_ids:
          type: array
          items:
            type: string
        creator_id:
          type: string
        speaker_ids:
          type: array
          items:
            type: string
        invited_user_ids:
          type: array
          items:
            type: string
        participant_count:
          type: integer
        subscriber_count:
          type: integer
        is_ticketed:
          type: boolean
        lang:
          type: string
        topic_ids:
          type: array
          items:
            type: string

    SpaceResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Space"
        includes:
          $ref: "#/components/schemas/Expansions"

    SpacesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Space"
        includes:
          $ref: "#/components/schemas/Expansions"
        meta:
          $ref: "#/components/schemas/PaginationMeta"
