openapi: 3.0.3
info:
  title: Threads API
  description: Official Meta Threads API
  version: v1.0

servers:
  - url: https://graph.threads.net
    description: Production
  - url: https://threads.net
    description: OAuth

components:
  schemas:
    # User Schemas
    User:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        name:
          type: string
        threads_profile_picture_url:
          type: string
          format: uri
        threads_biography:
          type: string
        is_verified:
          type: boolean

    PublishingLimit:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              quota_usage:
                type: integer
              config:
                type: object
                properties:
                  quota_total:
                    type: integer
                  quota_duration:
                    type: integer

    # Media Schemas
    MediaType:
      type: string
      enum:
        - TEXT
        - IMAGE
        - VIDEO
        - CAROUSEL
        - REPOST

    MediaContainer:
      type: object
      required:
        - id
      properties:
        id:
          type: string

    PublishedMedia:
      type: object
      required:
        - id
      properties:
        id:
          type: string

    Media:
      type: object
      properties:
        id:
          type: string
        media_product_type:
          type: string
        media_type:
          type: string
        media_url:
          type: string
          format: uri
        permalink:
          type: string
          format: uri
        owner:
          type: object
          properties:
            id:
              type: string
        username:
          type: string
        text:
          type: string
        timestamp:
          type: string
          format: date-time
        shortcode:
          type: string
        thumbnail_url:
          type: string
          format: uri
        children:
          type: object
        is_quote_post:
          type: boolean
        has_replies:
          type: boolean
        is_reply:
          type: boolean
        hide_status:
          type: string
          enum:
            - NOT_HUSHED
            - UNHIDDEN
            - HIDDEN
        reply_audience:
          type: string
          enum:
            - everyone
            - accounts_you_follow
            - mentioned_only
            - parent_post_author_only
            - followers_only
        alt_text:
          type: string
        topic_tag:
          type: string

    MediaList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Media'
        paging:
          $ref: '#/components/schemas/Paging'

    # Create Media Request
    CreateMediaRequest:
      type: object
      required:
        - media_type
      properties:
        media_type:
          type: string
          enum: [TEXT, IMAGE, VIDEO, CAROUSEL]
        text:
          type: string
          maxLength: 500
        image_url:
          type: string
          format: uri
        video_url:
          type: string
          format: uri
        children:
          type: array
          items:
            type: string
        alt_text:
          type: string
        reply_to_id:
          type: string
        reply_control:
          type: string
          enum:
            - everyone
            - accounts_you_follow
            - mentioned_only
            - parent_post_author_only
            - followers_only
        location_id:
          type: string
        topic_tag:
          type: string
        poll:
          type: object
          properties:
            question:
              type: string
              maxLength: 500
            options:
              type: array
              minItems: 2
              maxItems: 4
              items:
                type: string
                maxLength: 25
            duration_minutes:
              type: integer
              default: 1440
        gif_url:
          type: string
          format: uri

    PublishMediaRequest:
      type: object
      required:
        - creation_id
      properties:
        creation_id:
          type: string

    ManageReplyRequest:
      type: object
      required:
        - hide
      properties:
        hide:
          type: boolean

    ManageReplyResponse:
      type: object
      properties:
        success:
          type: boolean

    # Insights Schemas
    MediaInsight:
      type: object
      properties:
        name:
          type: string
          enum:
            - views
            - likes
            - replies
            - reposts
            - quotes
            - clicks
        period:
          type: string
          enum:
            - day
            - week
            - days_28
            - lifetime
        values:
          type: array
          items:
            type: object
            properties:
              value:
                type: integer
        title:
          type: string
        id:
          type: string

    MediaInsightsList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MediaInsight'

    UserInsight:
      type: object
      properties:
        name:
          type: string
          enum:
            - views
            - likes
            - followers_count
            - follower_demographics
        period:
          type: string
        values:
          type: array
          items:
            type: object
        title:
          type: string

    # Auth Schemas
    ShortLivedTokenResponse:
      type: object
      properties:
        access_token:
          type: string
        user_id:
          type: string

    LongLivedTokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
        expires_in:
          type: integer

    # Common Schemas
    Paging:
      type: object
      properties:
        cursors:
          type: object
          properties:
            before:
              type: string
            after:
              type: string

    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            type:
              type: string
            code:
              type: integer
            fbtrace_id:
              type: string

    SearchResult:
      type: object
      properties:
        data:
          type: array
          items:
            type: object

paths:
  # Authentication
  /oauth/access_token:
    post:
      operationId: exchangeCodeForToken
      summary: Exchange authorization code for access token
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - client_id
                - client_secret
                - grant_type
                - redirect_uri
                - code
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                grant_type:
                  type: string
                  enum: [authorization_code]
                redirect_uri:
                  type: string
                code:
                  type: string
      responses:
        '200':
          description: Short-lived access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortLivedTokenResponse'

  /access_token:
    get:
      operationId: exchangeToken
      summary: Exchange short-lived for long-lived token
      tags:
        - Authentication
      parameters:
        - name: grant_type
          in: query
          required: true
          schema:
            type: string
            enum: [th_exchange_token]
        - name: client_secret
          in: query
          required: true
          schema:
            type: string
        - name: access_token
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Long-lived token (60 days)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LongLivedTokenResponse'

  /refresh_access_token:
    get:
      operationId: refreshToken
      summary: Refresh long-lived token
      tags:
        - Authentication
      parameters:
        - name: grant_type
          in: query
          required: true
          schema:
            type: string
            enum: [th_refresh_token]
        - name: access_token
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: New long-lived token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LongLivedTokenResponse'

  # User Profile
  /me:
    get:
      operationId: getMyProfile
      summary: Get authenticated user profile
      tags:
        - User Profile
      parameters:
        - name: access_token
          in: query
          required: true
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /v1.0/{user-id}:
    get:
      operationId: getUserProfile
      summary: Get user profile
      tags:
        - User Profile
      parameters:
        - name: user-id
          in: path
          required: true
          schema:
            type: string
        - name: access_token
          in: query
          required: true
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /v1.0/{user-id}/threads_publishing_limit:
    get:
      operationId: getPublishingLimit
      summary: Get publishing limits
      tags:
        - User Profile
      parameters:
        - name: user-id
          in: path
          required: true
          schema:
            type: string
        - name: access_token
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Publishing limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishingLimit'

  # Media Publishing
  /v1.0/{user-id}/threads:
    post:
      operationId: createMediaContainer
      summary: Create media container
      description: Rate limit - 250 posts/24 hours. Wait ~30 seconds before publishing
      tags:
        - Media Publishing
      parameters:
        - name: user-id
          in: path
          required: true
          schema:
            type: string
        - name: access_token
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMediaRequest'
      responses:
        '200':
          description: Media container created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaContainer'

    get:
      operationId: listUserThreads
      summary: List user threads
      tags:
        - Media Publishing
      parameters:
        - name: user-id
          in: path
          required: true
          schema:
            type: string
        - name: access_token
          in: query
          required: true
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: before
          in: query
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of threads
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'

  /v1.0/{user-id}/threads_publish:
    post:
      operationId: publishMediaContainer
      summary: Publish media container
      description: Wait ~30 seconds after creating container
      tags:
        - Media Publishing
      parameters:
        - name: user-id
          in: path
          required: true
          schema:
            type: string
        - name: access_token
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishMediaRequest'
      responses:
        '200':
          description: Media published
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishedMedia'

  /v1.0/{media-id}:
    get:
      operationId: getMedia
      summary: Get media details
      tags:
        - Media Publishing
      parameters:
        - name: media-id
          in: path
          required: true
          schema:
            type: string
        - name: access_token
          in: query
          required: true
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Media details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'

  # Replies
  /v1.0/{media-id}/replies:
    get:
      operationId: getReplies
      summary: Get replies to a post
      tags:
        - Replies
      parameters:
        - name: media-id
          in: path
          required: true
          schema:
            type: string
        - name: access_token
          in: query
          required: true
          schema:
            type: string
        - name: reverse
          in: query
          schema:
            type: boolean
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: fields
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of replies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'

  /v1.0/{media-id}/conversation:
    get:
      operationId: getConversation
      summary: Get conversation thread
      tags:
        - Replies
      parameters:
        - name: media-id
          in: path
          required: true
          schema:
            type: string
        - name: access_token
          in: query
          required: true
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Conversation thread
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'

  /v1.0/{reply-id}:
    post:
      operationId: manageReply
      summary: Hide or unhide reply
      tags:
        - Replies
      parameters:
        - name: reply-id
          in: path
          required: true
          schema:
            type: string
        - name: access_token
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManageReplyRequest'
      responses:
        '200':
          description: Reply managed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManageReplyResponse'

  # Insights
  /v1.0/{media-id}/insights:
    get:
      operationId: getMediaInsights
      summary: Get media insights
      description: Metrics - views, likes, replies, reposts, quotes, clicks
      tags:
        - Insights
      parameters:
        - name: media-id
          in: path
          required: true
          schema:
            type: string
        - name: access_token
          in: query
          required: true
          schema:
            type: string
        - name: metric
          in: query
          required: true
          schema:
            type: string
            description: Comma-separated list of metrics
      responses:
        '200':
          description: Media insights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaInsightsList'

  /v1.0/{user-id}/threads_insights:
    get:
      operationId: getUserInsights
      summary: Get user-level insights
      description: Metrics - views, likes, followers_count, follower_demographics
      tags:
        - Insights
      parameters:
        - name: user-id
          in: path
          required: true
          schema:
            type: string
        - name: access_token
          in: query
          required: true
          schema:
            type: string
        - name: metric
          in: query
          required: true
          schema:
            type: string
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, days_28, lifetime]
      responses:
        '200':
          description: User insights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInsight'

  # Search
  /keyword_search:
    get:
      operationId: searchContent
      summary: Search by keyword or topic tag
      tags:
        - Search
      parameters:
        - name: access_token
          in: query
          required: true
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
        - name: topic_tag
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [threads, users, all]
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
