openapi: 3.0.0
info:
  title: Reddit API
  version: "1"
  description: Reddit API endpoints

servers:
  - url: https://oauth.reddit.com

paths:
  /api/v1/me:
    get:
      operationId: getMe
      summary: Get authenticated user info
      responses:
        "200":
          description: User info retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"

  /api/v1/me/karma:
    get:
      operationId: getMyKarma
      summary: Get karma breakdown by subreddit
      responses:
        "200":
          description: Karma retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KarmaResponse"

  /r/{subreddit}/hot:
    get:
      operationId: getSubredditHot
      summary: Get hot posts from subreddit
      parameters:
        - name: subreddit
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: after
          in: query
          schema:
            type: string
        - name: before
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Posts retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingResponse"

  /r/{subreddit}/new:
    get:
      operationId: getSubredditNew
      summary: Get new posts from subreddit
      parameters:
        - name: subreddit
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: after
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Posts retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingResponse"

  /api/submit:
    post:
      operationId: submitPost
      summary: Submit a new post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitPostRequest"
      responses:
        "200":
          description: Post submitted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitResponse"

  /api/comment:
    post:
      operationId: submitComment
      summary: Submit a comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentRequest"
      responses:
        "200":
          description: Comment submitted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentResponse"

  /api/vote:
    post:
      operationId: vote
      summary: Vote on a post or comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoteRequest"
      responses:
        "200":
          description: Vote registered successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoteResponse"

  /api/save:
    post:
      operationId: saveItem
      summary: Save a post or comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveRequest"
      responses:
        "200":
          description: Item saved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveResponse"

  /user/{username}/about:
    get:
      operationId: getUserAbout
      summary: Get user profile
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserAboutResponse"

  /r/{subreddit}/about:
    get:
      operationId: getSubredditAbout
      summary: Get subreddit info
      parameters:
        - name: subreddit
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Subreddit info retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubredditAboutResponse"

  /api/search_subreddits:
    post:
      operationId: searchSubreddits
      summary: Search for subreddits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchSubredditsRequest"
      responses:
        "200":
          description: Subreddits found successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchSubredditsResponse"

  /api/unsave:
    post:
      operationId: unsaveItem
      summary: Unsave a post or comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnsaveRequest"
      responses:
        "200":
          description: Item unsaved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"

  /api/hide:
    post:
      operationId: hidePost
      summary: Hide a post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HideRequest"
      responses:
        "200":
          description: Post hidden successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"

  /api/unhide:
    post:
      operationId: unhidePost
      summary: Unhide a post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnhideRequest"
      responses:
        "200":
          description: Post unhidden successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"

  /api/info:
    get:
      operationId: getInfo
      summary: Get info about things by fullname
      parameters:
        - name: id
          in: query
          schema:
            type: string
          description: Comma-separated list of thing fullnames
        - name: url
          in: query
          schema:
            type: string
          description: URL to get info about
      responses:
        "200":
          description: Info retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingResponse"

  /r/{subreddit}/top:
    get:
      operationId: getSubredditTop
      summary: Get top posts from subreddit
      parameters:
        - name: subreddit
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: after
          in: query
          schema:
            type: string
        - name: before
          in: query
          schema:
            type: string
        - name: t
          in: query
          schema:
            type: string
            enum: [hour, day, week, month, year, all]
          description: Time period for top posts
      responses:
        "200":
          description: Posts retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingResponse"

  /r/{subreddit}/rising:
    get:
      operationId: getSubredditRising
      summary: Get rising posts from subreddit
      parameters:
        - name: subreddit
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: after
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Posts retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingResponse"

  /r/{subreddit}/controversial:
    get:
      operationId: getSubredditControversial
      summary: Get controversial posts from subreddit
      parameters:
        - name: subreddit
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: after
          in: query
          schema:
            type: string
        - name: t
          in: query
          schema:
            type: string
            enum: [hour, day, week, month, year, all]
          description: Time period for controversial posts
      responses:
        "200":
          description: Posts retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingResponse"

  /api/editusertext:
    post:
      operationId: editUserText
      summary: Edit a comment or self post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditUserTextRequest"
      responses:
        "200":
          description: Text edited successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"

  /api/del:
    post:
      operationId: deleteItem
      summary: Delete a post or comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteRequest"
      responses:
        "200":
          description: Item deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"

  /message/inbox:
    get:
      operationId: getInbox
      summary: Get inbox messages
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: after
          in: query
          schema:
            type: string
        - name: before
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Messages retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingResponse"

  /api/compose:
    post:
      operationId: composeMessage
      summary: Send a private message
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComposeMessageRequest"
      responses:
        "200":
          description: Message sent successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"

  /user/{username}/submitted:
    get:
      operationId: getUserSubmitted
      summary: Get user's submitted posts
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: after
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Posts retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingResponse"

  /user/{username}/comments:
    get:
      operationId: getUserComments
      summary: Get user's comments
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: after
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Comments retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingResponse"

  /comments/{article}:
    get:
      operationId: getComments
      summary: Get comments for a post
      parameters:
        - name: article
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
        - name: depth
          in: query
          schema:
            type: integer
        - name: context
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Comments retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ListingResponse"

  /api/morechildren:
    get:
      operationId: getMoreChildren
      summary: Get more children comments
      parameters:
        - name: link_id
          in: query
          required: true
          schema:
            type: string
          description: Fullname of the link
        - name: children
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated list of comment IDs
      responses:
        "200":
          description: Children retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MoreChildrenResponse"

components:
  schemas:
    User:
      type: object
      required:
        - name
        - id
      properties:
        name:
          type: string
        id:
          type: string
        created_utc:
          type: number
        link_karma:
          type: integer
        comment_karma:
          type: integer
        is_gold:
          type: boolean
        is_mod:
          type: boolean
        has_verified_email:
          type: boolean
        icon_img:
          type: string

    KarmaResponse:
      type: object
      properties:
        kind:
          type: string
        data:
          type: array
          items:
            $ref: "#/components/schemas/KarmaBreakdown"

    KarmaBreakdown:
      type: object
      properties:
        sr:
          type: string
        comment_karma:
          type: integer
        link_karma:
          type: integer

    ListingResponse:
      type: object
      properties:
        kind:
          type: string
        data:
          $ref: "#/components/schemas/ListingData"

    ListingData:
      type: object
      properties:
        after:
          type: string
        before:
          type: string
        children:
          type: array
          items:
            $ref: "#/components/schemas/PostWrapper"
        dist:
          type: integer

    PostWrapper:
      type: object
      properties:
        kind:
          type: string
        data:
          $ref: "#/components/schemas/Post"

    Post:
      type: object
      required:
        - id
        - title
        - subreddit
      properties:
        id:
          type: string
        name:
          type: string
        title:
          type: string
        selftext:
          type: string
        author:
          type: string
        subreddit:
          type: string
        score:
          type: integer
        upvote_ratio:
          type: number
        num_comments:
          type: integer
        created_utc:
          type: number
        url:
          type: string
        permalink:
          type: string
        is_self:
          type: boolean
        over_18:
          type: boolean

    SubmitPostRequest:
      type: object
      required:
        - sr
        - title
        - kind
      properties:
        sr:
          type: string
        title:
          type: string
        kind:
          type: string
        text:
          type: string
        url:
          type: string
        nsfw:
          type: boolean
        spoiler:
          type: boolean

    SubmitResponse:
      type: object
      properties:
        json:
          type: object
          properties:
            errors:
              type: array
              items:
                type: string
            data:
              type: object
              properties:
                url:
                  type: string
                id:
                  type: string
                name:
                  type: string

    CommentRequest:
      type: object
      required:
        - thing_id
        - text
      properties:
        thing_id:
          type: string
        text:
          type: string

    CommentResponse:
      type: object
      properties:
        json:
          type: object
          properties:
            errors:
              type: array
              items:
                type: string
            data:
              type: object

    VoteRequest:
      type: object
      required:
        - id
        - dir
      properties:
        id:
          type: string
        dir:
          type: integer

    VoteResponse:
      type: object
      properties:
        success:
          type: boolean

    SaveRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string
        category:
          type: string

    SaveResponse:
      type: object
      properties:
        success:
          type: boolean

    UserAboutResponse:
      type: object
      properties:
        kind:
          type: string
        data:
          $ref: "#/components/schemas/User"

    SubredditAboutResponse:
      type: object
      properties:
        kind:
          type: string
        data:
          $ref: "#/components/schemas/Subreddit"

    Subreddit:
      type: object
      required:
        - display_name
        - id
      properties:
        display_name:
          type: string
        id:
          type: string
        title:
          type: string
        public_description:
          type: string
        subscribers:
          type: integer
        created_utc:
          type: number
        over18:
          type: boolean
        icon_img:
          type: string

    SearchSubredditsRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
        include_over_18:
          type: boolean
        include_unadvertisable:
          type: boolean

    SearchSubredditsResponse:
      type: object
      properties:
        subreddits:
          type: array
          items:
            $ref: "#/components/schemas/SubredditSearchResult"

    SubredditSearchResult:
      type: object
      properties:
        name:
          type: string
        subscriber_count:
          type: integer
        active_user_count:
          type: integer
        icon_img:
          type: string

    UnsaveRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string

    HideRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string

    UnhideRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string

    EditUserTextRequest:
      type: object
      required:
        - thing_id
        - text
      properties:
        thing_id:
          type: string
        text:
          type: string

    DeleteRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string

    ComposeMessageRequest:
      type: object
      required:
        - to
        - subject
        - text
      properties:
        to:
          type: string
        subject:
          type: string
        text:
          type: string
        from_sr:
          type: string

    MoreChildrenResponse:
      type: object
      properties:
        json:
          type: object
          properties:
            errors:
              type: array
              items:
                type: string
            data:
              type: object
              properties:
                things:
                  type: array
                  items:
                    type: object

    GenericResponse:
      type: object
      properties:
        success:
          type: boolean
        json:
          type: object
