openapi: "3.0.3"
info:
  title: YouTube Data API v3
  version: "3"
  description: |
    The YouTube Data API lets you incorporate functions normally executed on the YouTube website into your own website or application.
servers:
  - url: https://www.googleapis.com/youtube/v3

paths:
  /channels:
    get:
      operationId: listChannels
      summary: List channels
      description: Returns a collection of zero or more channel resources that match the request criteria.
      parameters:
        - name: part
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated list of channel resource properties (snippet, contentDetails, statistics, etc.)
        - name: id
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated list of YouTube channel IDs
        - name: mine
          in: query
          required: false
          schema:
            type: string
          description: Set to true to retrieve the channel associated with the authenticated user
        - name: maxResults
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 50
          description: Maximum number of items to return (0-50)
        - name: pageToken
          in: query
          required: false
          schema:
            type: string
          description: Token for pagination
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelListResponse"

  /videos:
    get:
      operationId: listVideos
      summary: List videos
      description: Returns a list of videos that match the API request parameters.
      parameters:
        - name: part
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated list of video resource properties (snippet, contentDetails, statistics, etc.)
        - name: id
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated list of YouTube video IDs
        - name: chart
          in: query
          required: false
          schema:
            type: string
            enum:
              - mostPopular
          description: Chart to retrieve
        - name: myRating
          in: query
          required: false
          schema:
            type: string
            enum:
              - like
              - dislike
          description: Return videos rated by the authenticated user
        - name: maxResults
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
          description: Maximum number of items to return (1-50)
        - name: pageToken
          in: query
          required: false
          schema:
            type: string
          description: Token for pagination
        - name: regionCode
          in: query
          required: false
          schema:
            type: string
          description: ISO 3166-1 alpha-2 country code
        - name: videoCategoryId
          in: query
          required: false
          schema:
            type: string
          description: Filter by video category ID
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
    post:
      operationId: insertVideo
      summary: Upload video metadata
      description: Uploads a video to YouTube and optionally sets the video's metadata.
      parameters:
        - name: part
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated list of video resource properties to set
        - name: notifySubscribers
          in: query
          required: false
          schema:
            type: string
          description: Whether to notify subscribers about the new video
        - name: onBehalfOfContentOwner
          in: query
          required: false
          schema:
            type: string
          description: Content owner ID for acting on behalf of
        - name: onBehalfOfContentOwnerChannel
          in: query
          required: false
          schema:
            type: string
          description: YouTube channel ID for content owner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Video"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Video"

  /playlists:
    get:
      operationId: listPlaylists
      summary: List playlists
      description: Returns a collection of playlists that match the API request parameters.
      parameters:
        - name: part
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated list of playlist resource properties (snippet, contentDetails, status, etc.)
        - name: id
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated list of YouTube playlist IDs
        - name: mine
          in: query
          required: false
          schema:
            type: string
          description: Set to true to retrieve playlists owned by the authenticated user
        - name: channelId
          in: query
          required: false
          schema:
            type: string
          description: YouTube channel ID to filter playlists
        - name: maxResults
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 50
          description: Maximum number of items to return (0-50)
        - name: pageToken
          in: query
          required: false
          schema:
            type: string
          description: Token for pagination
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaylistListResponse"

components:
  schemas:
    ChannelListResponse:
      type: object
      properties:
        kind:
          type: string
        etag:
          type: string
        nextPageToken:
          type: string
        prevPageToken:
          type: string
        pageInfo:
          $ref: "#/components/schemas/PageInfo"
        items:
          type: array
          items:
            $ref: "#/components/schemas/Channel"
      required:
        - kind
        - etag
        - items

    Channel:
      type: object
      properties:
        kind:
          type: string
        etag:
          type: string
        id:
          type: string
        snippet:
          $ref: "#/components/schemas/ChannelSnippet"
        contentDetails:
          $ref: "#/components/schemas/ChannelContentDetails"
        statistics:
          $ref: "#/components/schemas/ChannelStatistics"
      required:
        - kind
        - etag
        - id

    ChannelSnippet:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        customUrl:
          type: string
        publishedAt:
          type: string
        thumbnails:
          $ref: "#/components/schemas/ThumbnailDetails"
        localized:
          $ref: "#/components/schemas/ChannelLocalization"
        country:
          type: string
      required:
        - title
        - description
        - publishedAt

    ChannelContentDetails:
      type: object
      properties:
        relatedPlaylists:
          type: object
          properties:
            likes:
              type: string
            uploads:
              type: string
          required:
            - uploads

    ChannelStatistics:
      type: object
      properties:
        viewCount:
          type: string
        subscriberCount:
          type: string
        hiddenSubscriberCount:
          type: boolean
        videoCount:
          type: string
      required:
        - viewCount
        - subscriberCount
        - hiddenSubscriberCount
        - videoCount

    ChannelLocalization:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
      required:
        - title
        - description

    VideoListResponse:
      type: object
      properties:
        kind:
          type: string
        etag:
          type: string
        nextPageToken:
          type: string
        prevPageToken:
          type: string
        pageInfo:
          $ref: "#/components/schemas/PageInfo"
        items:
          type: array
          items:
            $ref: "#/components/schemas/Video"
      required:
        - kind
        - etag
        - items

    Video:
      type: object
      properties:
        kind:
          type: string
        etag:
          type: string
        id:
          type: string
        snippet:
          $ref: "#/components/schemas/VideoSnippet"
        contentDetails:
          $ref: "#/components/schemas/VideoContentDetails"
        statistics:
          $ref: "#/components/schemas/VideoStatistics"
        status:
          $ref: "#/components/schemas/VideoStatus"

    VideoSnippet:
      type: object
      properties:
        publishedAt:
          type: string
        channelId:
          type: string
        title:
          type: string
        description:
          type: string
        thumbnails:
          $ref: "#/components/schemas/ThumbnailDetails"
        channelTitle:
          type: string
        tags:
          type: array
          items:
            type: string
        categoryId:
          type: string
        liveBroadcastContent:
          type: string
        defaultLanguage:
          type: string
        localized:
          $ref: "#/components/schemas/VideoLocalization"
        defaultAudioLanguage:
          type: string
      required:
        - title
        - description
        - categoryId

    VideoContentDetails:
      type: object
      properties:
        duration:
          type: string
        dimension:
          type: string
        definition:
          type: string
        caption:
          type: string
        licensedContent:
          type: boolean
        projection:
          type: string
      required:
        - duration
        - dimension
        - definition
        - caption
        - licensedContent
        - projection

    VideoStatistics:
      type: object
      properties:
        viewCount:
          type: string
        likeCount:
          type: string
        dislikeCount:
          type: string
        favoriteCount:
          type: string
        commentCount:
          type: string
      required:
        - viewCount
        - likeCount
        - favoriteCount
        - commentCount

    VideoStatus:
      type: object
      properties:
        uploadStatus:
          type: string
        failureReason:
          type: string
        rejectionReason:
          type: string
        privacyStatus:
          type: string
          enum:
            - public
            - unlisted
            - private
        publishAt:
          type: string
        license:
          type: string
        embeddable:
          type: boolean
        publicStatsViewable:
          type: boolean
        madeForKids:
          type: boolean
        selfDeclaredMadeForKids:
          type: boolean
      required:
        - privacyStatus

    VideoLocalization:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
      required:
        - title
        - description

    PlaylistListResponse:
      type: object
      properties:
        kind:
          type: string
        etag:
          type: string
        nextPageToken:
          type: string
        prevPageToken:
          type: string
        pageInfo:
          $ref: "#/components/schemas/PageInfo"
        items:
          type: array
          items:
            $ref: "#/components/schemas/Playlist"
      required:
        - kind
        - etag
        - items

    Playlist:
      type: object
      properties:
        kind:
          type: string
        etag:
          type: string
        id:
          type: string
        snippet:
          $ref: "#/components/schemas/PlaylistSnippet"
        contentDetails:
          $ref: "#/components/schemas/PlaylistContentDetails"
        status:
          $ref: "#/components/schemas/PlaylistStatus"
      required:
        - kind
        - etag
        - id

    PlaylistSnippet:
      type: object
      properties:
        publishedAt:
          type: string
        channelId:
          type: string
        title:
          type: string
        description:
          type: string
        thumbnails:
          $ref: "#/components/schemas/ThumbnailDetails"
        channelTitle:
          type: string
        tags:
          type: array
          items:
            type: string
        defaultLanguage:
          type: string
        localized:
          $ref: "#/components/schemas/PlaylistLocalization"
      required:
        - publishedAt
        - channelId
        - title
        - description
        - channelTitle

    PlaylistContentDetails:
      type: object
      properties:
        itemCount:
          type: integer
      required:
        - itemCount

    PlaylistStatus:
      type: object
      properties:
        privacyStatus:
          type: string
          enum:
            - public
            - unlisted
            - private
      required:
        - privacyStatus

    PlaylistLocalization:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
      required:
        - title
        - description

    ThumbnailDetails:
      type: object
      properties:
        default:
          $ref: "#/components/schemas/Thumbnail"
        medium:
          $ref: "#/components/schemas/Thumbnail"
        high:
          $ref: "#/components/schemas/Thumbnail"
        standard:
          $ref: "#/components/schemas/Thumbnail"
        maxres:
          $ref: "#/components/schemas/Thumbnail"

    Thumbnail:
      type: object
      properties:
        url:
          type: string
        width:
          type: integer
        height:
          type: integer
      required:
        - url

    PageInfo:
      type: object
      properties:
        totalResults:
          type: integer
        resultsPerPage:
          type: integer
      required:
        - totalResults
        - resultsPerPage
