openapi: 3.0.3
info:
  title: TikTok Business/Marketing API
  version: "1.3"
  description: TikTok Business API for advertising campaigns, ad management, creative management, and reporting

servers:
  - url: https://business-api.tiktok.com/open_api/v1.3
    description: Production Business API

paths:
  # Campaign Management
  /campaign/create/:
    post:
      operationId: createCampaign
      summary: Create campaign
      description: Create a new advertising campaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignCreateRequest"
      responses:
        "200":
          description: Campaign created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignCreateResponse"

  /campaign/get/:
    get:
      operationId: getCampaigns
      summary: Get campaigns
      description: Retrieve campaigns for an ad account
      parameters:
        - name: advertiser_id
          in: query
          required: true
          schema:
            type: string
        - name: campaign_ids
          in: query
          schema:
            type: array
            items:
              type: string
        - name: filtering
          in: query
          schema:
            type: object
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Campaigns retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignGetResponse"

  /campaign/update/:
    post:
      operationId: updateCampaign
      summary: Update campaign
      description: Update an existing campaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignUpdateRequest"
      responses:
        "200":
          description: Campaign updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignUpdateResponse"

  /campaign/status/update/:
    post:
      operationId: updateCampaignStatus
      summary: Update campaign status
      description: Enable, disable, or delete a campaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignStatusUpdateRequest"
      responses:
        "200":
          description: Campaign status updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusUpdateResponse"

  # Ad Group Management
  /adgroup/create/:
    post:
      operationId: createAdGroup
      summary: Create ad group
      description: Create a new ad group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdGroupCreateRequest"
      responses:
        "200":
          description: Ad group created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdGroupCreateResponse"

  /adgroup/get/:
    get:
      operationId: getAdGroups
      summary: Get ad groups
      description: Retrieve ad groups for an ad account
      parameters:
        - name: advertiser_id
          in: query
          required: true
          schema:
            type: string
        - name: adgroup_ids
          in: query
          schema:
            type: array
            items:
              type: string
        - name: campaign_ids
          in: query
          schema:
            type: array
            items:
              type: string
        - name: filtering
          in: query
          schema:
            type: object
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Ad groups retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdGroupGetResponse"

  /adgroup/update/:
    post:
      operationId: updateAdGroup
      summary: Update ad group
      description: Update an existing ad group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdGroupUpdateRequest"
      responses:
        "200":
          description: Ad group updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdGroupUpdateResponse"

  /adgroup/status/update/:
    post:
      operationId: updateAdGroupStatus
      summary: Update ad group status
      description: Enable, disable, or delete an ad group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdGroupStatusUpdateRequest"
      responses:
        "200":
          description: Ad group status updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusUpdateResponse"

  # Ad Management
  /ad/create/:
    post:
      operationId: createAd
      summary: Create ad
      description: Create a new ad
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdCreateRequest"
      responses:
        "200":
          description: Ad created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdCreateResponse"

  /ad/get/:
    get:
      operationId: getAds
      summary: Get ads
      description: Retrieve ads for an ad account
      parameters:
        - name: advertiser_id
          in: query
          required: true
          schema:
            type: string
        - name: ad_ids
          in: query
          schema:
            type: array
            items:
              type: string
        - name: adgroup_ids
          in: query
          schema:
            type: array
            items:
              type: string
        - name: campaign_ids
          in: query
          schema:
            type: array
            items:
              type: string
        - name: filtering
          in: query
          schema:
            type: object
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Ads retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdGetResponse"

  /ad/update/:
    post:
      operationId: updateAd
      summary: Update ad
      description: Update an existing ad
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdUpdateRequest"
      responses:
        "200":
          description: Ad updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdUpdateResponse"

  /ad/status/update/:
    post:
      operationId: updateAdStatus
      summary: Update ad status
      description: Enable, disable, or delete an ad
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdStatusUpdateRequest"
      responses:
        "200":
          description: Ad status updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusUpdateResponse"

  # Creative & Assets
  /file/video/upload/:
    post:
      operationId: uploadVideo
      summary: Upload video
      description: Upload a video file for ad creative
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/VideoUploadRequest"
      responses:
        "200":
          description: Video uploaded successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoUploadResponse"

  /file/image/upload/:
    post:
      operationId: uploadImage
      summary: Upload image
      description: Upload an image file for ad creative
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ImageUploadRequest"
      responses:
        "200":
          description: Image uploaded successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageUploadResponse"

  # Reporting
  /report/integrated/get/:
    get:
      operationId: getIntegratedReport
      summary: Get integrated report
      description: Retrieve integrated reporting data
      parameters:
        - name: advertiser_id
          in: query
          required: true
          schema:
            type: string
        - name: report_type
          in: query
          required: true
          schema:
            type: string
            enum: [BASIC, AUDIENCE, PLAYABLE_MATERIAL, CATALOG, DPA, INTERACTIVE_MATERIAL]
        - name: dimensions
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
        - name: metrics
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
        - name: data_level
          in: query
          required: true
          schema:
            type: string
            enum: [AUCTION_CAMPAIGN, AUCTION_ADGROUP, AUCTION_AD]
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: filtering
          in: query
          schema:
            type: object
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Report data retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegratedReportResponse"

  # Audience Management
  /dmp/custom_audience/list/:
    get:
      operationId: listCustomAudiences
      summary: List custom audiences
      description: Retrieve custom audiences for an advertiser
      parameters:
        - name: advertiser_id
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Custom audiences retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomAudienceListResponse"

  /dmp/custom_audience/create/:
    post:
      operationId: createCustomAudience
      summary: Create custom audience
      description: Create a new custom audience
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomAudienceCreateRequest"
      responses:
        "200":
          description: Custom audience created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomAudienceCreateResponse"

components:
  schemas:
    # Campaign Schemas
    CampaignCreateRequest:
      type: object
      properties:
        advertiser_id:
          type: string
        campaign_name:
          type: string
        objective_type:
          type: string
          enum: [REACH, TRAFFIC, VIDEO_VIEWS, LEAD_GENERATION, ENGAGEMENT, APP_PROMOTION, WEB_CONVERSIONS, PRODUCT_SALES, SHOP_PURCHASES]
        budget_mode:
          type: string
          enum: [BUDGET_MODE_INFINITE, BUDGET_MODE_DAY, BUDGET_MODE_TOTAL]
        budget:
          type: number
        operation_status:
          type: string
          enum: [ENABLE, DISABLE]
      required:
        - advertiser_id
        - campaign_name
        - objective_type

    CampaignCreateResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            campaign_id:
              type: string
        request_id:
          type: string

    CampaignGetResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            campaigns:
              type: array
              items:
                $ref: "#/components/schemas/Campaign"
            page_info:
              $ref: "#/components/schemas/PageInfo"
        request_id:
          type: string

    Campaign:
      type: object
      properties:
        campaign_id:
          type: string
        campaign_name:
          type: string
        advertiser_id:
          type: string
        objective_type:
          type: string
        budget:
          type: number
        budget_mode:
          type: string
        operation_status:
          type: string
        create_time:
          type: string
        modify_time:
          type: string

    CampaignUpdateRequest:
      type: object
      properties:
        advertiser_id:
          type: string
        campaign_id:
          type: string
        campaign_name:
          type: string
        budget:
          type: number
        budget_mode:
          type: string
      required:
        - advertiser_id
        - campaign_id

    CampaignUpdateResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            campaign_id:
              type: string
        request_id:
          type: string

    CampaignStatusUpdateRequest:
      type: object
      properties:
        advertiser_id:
          type: string
        campaign_ids:
          type: array
          items:
            type: string
        operation_status:
          type: string
          enum: [ENABLE, DISABLE, DELETE]
      required:
        - advertiser_id
        - campaign_ids
        - operation_status

    # Ad Group Schemas
    AdGroupCreateRequest:
      type: object
      properties:
        advertiser_id:
          type: string
        campaign_id:
          type: string
        adgroup_name:
          type: string
        placement_type:
          type: string
          enum: [PLACEMENT_TYPE_AUTOMATIC, PLACEMENT_TYPE_NORMAL]
        placements:
          type: array
          items:
            type: string
        location_ids:
          type: array
          items:
            type: string
        age_groups:
          type: array
          items:
            type: string
        gender:
          type: string
          enum: [GENDER_MALE, GENDER_FEMALE, GENDER_UNLIMITED]
        budget_mode:
          type: string
          enum: [BUDGET_MODE_DAY, BUDGET_MODE_TOTAL, BUDGET_MODE_INFINITE]
        budget:
          type: number
        schedule_type:
          type: string
          enum: [SCHEDULE_FROM_NOW, SCHEDULE_START_END]
        schedule_start_time:
          type: string
          format: date-time
        schedule_end_time:
          type: string
          format: date-time
        dayparting:
          type: string
        operation_status:
          type: string
          enum: [ENABLE, DISABLE]
      required:
        - advertiser_id
        - campaign_id
        - adgroup_name

    AdGroupCreateResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            adgroup_id:
              type: string
        request_id:
          type: string

    AdGroupGetResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            adgroups:
              type: array
              items:
                $ref: "#/components/schemas/AdGroup"
            page_info:
              $ref: "#/components/schemas/PageInfo"
        request_id:
          type: string

    AdGroup:
      type: object
      properties:
        adgroup_id:
          type: string
        adgroup_name:
          type: string
        advertiser_id:
          type: string
        campaign_id:
          type: string
        placement_type:
          type: string
        placements:
          type: array
          items:
            type: string
        operation_status:
          type: string
        budget:
          type: number
        budget_mode:
          type: string
        create_time:
          type: string
        modify_time:
          type: string

    AdGroupUpdateRequest:
      type: object
      properties:
        advertiser_id:
          type: string
        adgroup_id:
          type: string
        adgroup_name:
          type: string
        budget:
          type: number
        budget_mode:
          type: string
      required:
        - advertiser_id
        - adgroup_id

    AdGroupUpdateResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            adgroup_id:
              type: string
        request_id:
          type: string

    AdGroupStatusUpdateRequest:
      type: object
      properties:
        advertiser_id:
          type: string
        adgroup_ids:
          type: array
          items:
            type: string
        operation_status:
          type: string
          enum: [ENABLE, DISABLE, DELETE]
      required:
        - advertiser_id
        - adgroup_ids
        - operation_status

    # Ad Schemas
    AdCreateRequest:
      type: object
      properties:
        advertiser_id:
          type: string
        adgroup_id:
          type: string
        ad_name:
          type: string
        ad_format:
          type: string
          enum: [SINGLE_VIDEO, SINGLE_IMAGE, CAROUSEL]
        ad_text:
          type: string
        call_to_action:
          type: string
        landing_page_url:
          type: string
        video_id:
          type: string
        image_ids:
          type: array
          items:
            type: string
        operation_status:
          type: string
          enum: [ENABLE, DISABLE]
      required:
        - advertiser_id
        - adgroup_id
        - ad_name

    AdCreateResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            ad_id:
              type: string
        request_id:
          type: string

    AdGetResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            ads:
              type: array
              items:
                $ref: "#/components/schemas/Ad"
            page_info:
              $ref: "#/components/schemas/PageInfo"
        request_id:
          type: string

    Ad:
      type: object
      properties:
        ad_id:
          type: string
        ad_name:
          type: string
        advertiser_id:
          type: string
        adgroup_id:
          type: string
        campaign_id:
          type: string
        ad_format:
          type: string
        ad_text:
          type: string
        call_to_action:
          type: string
        landing_page_url:
          type: string
        operation_status:
          type: string
        create_time:
          type: string
        modify_time:
          type: string

    AdUpdateRequest:
      type: object
      properties:
        advertiser_id:
          type: string
        ad_id:
          type: string
        ad_name:
          type: string
        ad_text:
          type: string
        call_to_action:
          type: string
      required:
        - advertiser_id
        - ad_id

    AdUpdateResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            ad_id:
              type: string
        request_id:
          type: string

    AdStatusUpdateRequest:
      type: object
      properties:
        advertiser_id:
          type: string
        ad_ids:
          type: array
          items:
            type: string
        operation_status:
          type: string
          enum: [ENABLE, DISABLE, DELETE]
      required:
        - advertiser_id
        - ad_ids
        - operation_status

    # Creative & Assets Schemas
    VideoUploadRequest:
      type: object
      properties:
        advertiser_id:
          type: string
        video_file:
          type: string
          format: binary
        video_signature:
          type: string
        video_id:
          type: string
      required:
        - advertiser_id

    VideoUploadResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            video_id:
              type: string
        request_id:
          type: string

    ImageUploadRequest:
      type: object
      properties:
        advertiser_id:
          type: string
        image_file:
          type: string
          format: binary
        image_signature:
          type: string
      required:
        - advertiser_id

    ImageUploadResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            image_id:
              type: string
        request_id:
          type: string

    # Reporting Schemas
    IntegratedReportResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            list:
              type: array
              items:
                type: object
                additionalProperties: true
            page_info:
              $ref: "#/components/schemas/PageInfo"
        request_id:
          type: string

    # Audience Schemas
    CustomAudienceListResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            custom_audiences:
              type: array
              items:
                $ref: "#/components/schemas/CustomAudience"
            page_info:
              $ref: "#/components/schemas/PageInfo"
        request_id:
          type: string

    CustomAudience:
      type: object
      properties:
        custom_audience_id:
          type: string
        custom_audience_name:
          type: string
        audience_type:
          type: string
        size:
          type: integer
        create_time:
          type: string
        modify_time:
          type: string

    CustomAudienceCreateRequest:
      type: object
      properties:
        advertiser_id:
          type: string
        custom_audience_name:
          type: string
        audience_type:
          type: string
          enum: [CUSTOMER_FILE, PIXEL, ENGAGEMENT]
        file_paths:
          type: array
          items:
            type: string
      required:
        - advertiser_id
        - custom_audience_name
        - audience_type

    CustomAudienceCreateResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            custom_audience_id:
              type: string
        request_id:
          type: string

    # Common Schemas
    StatusUpdateResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            campaign_ids:
              type: array
              items:
                type: string
            adgroup_ids:
              type: array
              items:
                type: string
            ad_ids:
              type: array
              items:
                type: string
        request_id:
          type: string

    PageInfo:
      type: object
      properties:
        total_number:
          type: integer
        page:
          type: integer
        page_size:
          type: integer
        total_page:
          type: integer
