openapi: 3.0.3
info:
  title: TikTok Client Credentials API
  version: "2.0"
  description: TikTok API for client-authenticated operations including Research API and Commercial Content API

servers:
  - url: https://open.tiktokapis.com/v2
    description: Production API

paths:
  # Research API - Video Query
  /research/video/query/:
    post:
      operationId: queryResearchVideos
      summary: Query research videos
      description: Query videos with various filters for research purposes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResearchVideoQueryRequest"
      responses:
        "200":
          description: Videos retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResearchVideoQueryResponse"

  # Research API - User Info
  /research/user/info/:
    post:
      operationId: queryResearchUserInfo
      summary: Query research user info
      description: Retrieve user information for research purposes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResearchUserInfoRequest"
      responses:
        "200":
          description: User info retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResearchUserInfoResponse"

  # Research API - Video Comments
  /research/video/comment/list/:
    post:
      operationId: listVideoComments
      summary: List video comments
      description: Retrieve comments for a specific video
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VideoCommentsRequest"
      responses:
        "200":
          description: Comments retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoCommentsResponse"

  # Commercial Content API - Ad Query
  /research/adlib/ad/query/:
    post:
      operationId: queryAds
      summary: Query ads
      description: Search ads with filters like date range, country, and keywords
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdQueryRequest"
      responses:
        "200":
          description: Ads retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdQueryResponse"

  # Commercial Content API - Ad Details
  /research/adlib/ad/detail/:
    post:
      operationId: getAdDetails
      summary: Get ad details
      description: Retrieve detailed information about specific ads
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdDetailRequest"
      responses:
        "200":
          description: Ad details retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdDetailResponse"

  # Commercial Content API - Commercial Content Report
  /research/adlib/commercial_content/report/:
    post:
      operationId: queryCommercialContent
      summary: Query commercial content
      description: Query commercial content with filters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommercialContentRequest"
      responses:
        "200":
          description: Commercial content retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommercialContentResponse"

components:
  schemas:
    # Research API - Video Query Schemas
    ResearchVideoQueryRequest:
      type: object
      properties:
        query:
          type: object
          properties:
            and:
              type: array
              items:
                type: object
                properties:
                  operation:
                    type: string
                    enum: [EQ, IN, GT, GTE, LT, LTE]
                  field_name:
                    type: string
                    enum: [region_code, hashtag_name, keyword, video_id, effect_ids, video_length, create_date, username, music_id]
                  field_values:
                    type: array
                    items:
                      type: string
            or:
              type: array
              items:
                type: object
            not:
              type: array
              items:
                type: object
        fields:
          type: array
          items:
            type: string
            enum: [id, video_description, create_time, region_code, share_count, view_count, like_count, comment_count, music_id, hashtag_names, username, effect_ids, playlist_id, voice_to_text, video_duration]
        max_count:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        cursor:
          type: integer
        search_id:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
      required:
        - query
        - fields

    ResearchVideoQueryResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            videos:
              type: array
              items:
                $ref: "#/components/schemas/ResearchVideo"
            cursor:
              type: integer
            has_more:
              type: boolean
            search_id:
              type: string
        error:
          $ref: "#/components/schemas/ErrorInfo"

    ResearchVideo:
      type: object
      properties:
        id:
          type: string
        video_description:
          type: string
        create_time:
          type: integer
        region_code:
          type: string
        share_count:
          type: integer
        view_count:
          type: integer
        like_count:
          type: integer
        comment_count:
          type: integer
        music_id:
          type: string
        hashtag_names:
          type: array
          items:
            type: string
        username:
          type: string
        effect_ids:
          type: array
          items:
            type: string
        playlist_id:
          type: string
        voice_to_text:
          type: string
        video_duration:
          type: integer

    # Research API - User Info Schemas
    ResearchUserInfoRequest:
      type: object
      properties:
        username:
          type: string
        fields:
          type: array
          items:
            type: string
            enum: [display_name, bio_description, avatar_url, is_verified, follower_count, following_count, likes_count, video_count]
      required:
        - username
        - fields

    ResearchUserInfoResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            display_name:
              type: string
            bio_description:
              type: string
            avatar_url:
              type: string
            is_verified:
              type: boolean
            follower_count:
              type: integer
            following_count:
              type: integer
            likes_count:
              type: integer
            video_count:
              type: integer
        error:
          $ref: "#/components/schemas/ErrorInfo"

    # Research API - Video Comments Schemas
    VideoCommentsRequest:
      type: object
      properties:
        video_id:
          type: string
        max_count:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        cursor:
          type: integer
        fields:
          type: array
          items:
            type: string
            enum: [id, parent_comment_id, text, like_count, create_time, video_id]
      required:
        - video_id
        - fields

    VideoCommentsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            comments:
              type: array
              items:
                $ref: "#/components/schemas/Comment"
            cursor:
              type: integer
            has_more:
              type: boolean
        error:
          $ref: "#/components/schemas/ErrorInfo"

    Comment:
      type: object
      properties:
        id:
          type: string
        parent_comment_id:
          type: string
        text:
          type: string
        like_count:
          type: integer
        create_time:
          type: integer
        video_id:
          type: string

    # Commercial Content API - Ad Query Schemas
    AdQueryRequest:
      type: object
      properties:
        filters:
          type: object
          properties:
            ad_published_date_range:
              type: object
              properties:
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
            country:
              type: array
              items:
                type: string
            search_term:
              type: string
        fields:
          type: array
          items:
            type: string
            enum: [ad_id, advertiser_business_id, advertiser_paid_by_label_disabled, advertiser_page_name, ad_reach, ad_impressions, ad_clicks, ad_spend, currency, call_to_action, ad_text, ad_image_urls, ad_video_urls, ad_destination_url]
        max_count:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        cursor:
          type: string
      required:
        - filters
        - fields

    AdQueryResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            ads:
              type: array
              items:
                $ref: "#/components/schemas/Ad"
            cursor:
              type: string
            has_more:
              type: boolean
        error:
          $ref: "#/components/schemas/ErrorInfo"

    Ad:
      type: object
      properties:
        ad_id:
          type: string
        advertiser_business_id:
          type: string
        advertiser_paid_by_label_disabled:
          type: boolean
        advertiser_page_name:
          type: string
        ad_reach:
          type: integer
        ad_impressions:
          type: integer
        ad_clicks:
          type: integer
        ad_spend:
          type: number
        currency:
          type: string
        call_to_action:
          type: string
        ad_text:
          type: string
        ad_image_urls:
          type: array
          items:
            type: string
        ad_video_urls:
          type: array
          items:
            type: string
        ad_destination_url:
          type: string

    # Commercial Content API - Ad Details Schemas
    AdDetailRequest:
      type: object
      properties:
        ad_ids:
          type: array
          items:
            type: string
        fields:
          type: array
          items:
            type: string
      required:
        - ad_ids
        - fields

    AdDetailResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            ads:
              type: array
              items:
                $ref: "#/components/schemas/Ad"
        error:
          $ref: "#/components/schemas/ErrorInfo"

    # Commercial Content API - Commercial Content Schemas
    CommercialContentRequest:
      type: object
      properties:
        filters:
          type: object
          properties:
            content_published_date_range:
              type: object
              properties:
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
            creator_country_code:
              type: array
              items:
                type: string
        fields:
          type: array
          items:
            type: string
        max_count:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        cursor:
          type: string
      required:
        - filters
        - fields

    CommercialContentResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            contents:
              type: array
              items:
                type: object
            cursor:
              type: string
            has_more:
              type: boolean
        error:
          $ref: "#/components/schemas/ErrorInfo"

    # Common Error Schema
    ErrorInfo:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        log_id:
          type: string
      required:
        - code
        - message
        - log_id
