openapi: "3.0.0"
info:
  title: WhatsApp Cloud API
  version: "18.0"
  description: WhatsApp Cloud API for sending messages, managing templates, and phone numbers

servers:
  - url: https://graph.facebook.com/v18.0

paths:
  /{phone_number_id}/messages:
    post:
      operationId: sendMessage
      summary: Send a message
      description: Send a text, template, media, or interactive message to a WhatsApp user
      parameters:
        - name: phone_number_id
          in: path
          required: true
          schema:
            type: string
          description: The phone number ID to send from
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageRequest"
      responses:
        "200":
          description: Message sent successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendMessageResponse"

  /{phone_number_id}/message_templates:
    get:
      operationId: getMessageTemplates
      summary: List message templates
      description: Get all message templates for a WhatsApp Business Account
      parameters:
        - name: phone_number_id
          in: path
          required: true
          schema:
            type: string
          description: The phone number ID
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: Maximum number of templates to return
      responses:
        "200":
          description: List of message templates
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageTemplatesResponse"

  /{business_id}/phone_numbers:
    get:
      operationId: getPhoneNumbers
      summary: List phone numbers
      description: Get all phone numbers associated with a WhatsApp Business Account
      parameters:
        - name: business_id
          in: path
          required: true
          schema:
            type: string
          description: The WhatsApp Business Account ID
      responses:
        "200":
          description: List of phone numbers
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhoneNumbersResponse"

components:
  schemas:
    SendMessageRequest:
      type: object
      required:
        - messaging_product
        - to
        - type
      properties:
        messaging_product:
          type: string
          description: Must be "whatsapp"
        recipient_type:
          type: string
          description: Type of recipient (individual or group)
        to:
          type: string
          description: WhatsApp ID or phone number of the recipient
        type:
          type: string
          enum:
            - text
            - template
            - image
            - document
            - audio
            - video
            - sticker
            - location
            - contacts
            - interactive
          description: Type of message to send
        text:
          $ref: "#/components/schemas/TextObject"
        template:
          $ref: "#/components/schemas/TemplateObject"
        image:
          $ref: "#/components/schemas/MediaObject"
        document:
          $ref: "#/components/schemas/MediaObject"
        audio:
          $ref: "#/components/schemas/MediaObject"
        video:
          $ref: "#/components/schemas/MediaObject"

    TextObject:
      type: object
      required:
        - body
      properties:
        body:
          type: string
          maxLength: 4096
          description: The text of the message
        preview_url:
          type: boolean
          description: Whether to show URL preview

    TemplateObject:
      type: object
      required:
        - name
        - language
      properties:
        name:
          type: string
          description: Name of the template
        language:
          $ref: "#/components/schemas/LanguageObject"
        components:
          type: array
          items:
            $ref: "#/components/schemas/TemplateComponent"

    LanguageObject:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          description: Language code (e.g., en_US)

    TemplateComponent:
      type: object
      properties:
        type:
          type: string
          enum:
            - header
            - body
            - button
          description: Component type
        parameters:
          type: array
          items:
            $ref: "#/components/schemas/TemplateParameter"

    TemplateParameter:
      type: object
      properties:
        type:
          type: string
          enum:
            - text
            - currency
            - date_time
            - image
            - document
            - video
          description: Parameter type
        text:
          type: string
          description: Text value for text parameters

    MediaObject:
      type: object
      properties:
        id:
          type: string
          description: Media ID from Meta
        link:
          type: string
          description: URL of the media
        caption:
          type: string
          description: Caption for the media
        filename:
          type: string
          description: Filename for documents

    SendMessageResponse:
      type: object
      properties:
        messaging_product:
          type: string
          description: Always "whatsapp"
        contacts:
          type: array
          items:
            $ref: "#/components/schemas/ContactInfo"
        messages:
          type: array
          items:
            $ref: "#/components/schemas/MessageInfo"

    ContactInfo:
      type: object
      properties:
        input:
          type: string
          description: Input phone number
        wa_id:
          type: string
          description: WhatsApp ID of the contact

    MessageInfo:
      type: object
      properties:
        id:
          type: string
          description: Message ID
        message_status:
          type: string
          description: Status of the message

    MessageTemplatesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/MessageTemplate"
        paging:
          $ref: "#/components/schemas/Paging"

    MessageTemplate:
      type: object
      properties:
        id:
          type: string
          description: Template ID
        name:
          type: string
          description: Template name
        status:
          type: string
          enum:
            - APPROVED
            - PENDING
            - REJECTED
          description: Template approval status
        category:
          type: string
          description: Template category
        language:
          type: string
          description: Template language
        components:
          type: array
          items:
            $ref: "#/components/schemas/TemplateComponentDefinition"

    TemplateComponentDefinition:
      type: object
      properties:
        type:
          type: string
          description: Component type
        text:
          type: string
          description: Component text
        format:
          type: string
          description: Component format

    PhoneNumbersResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PhoneNumber"
        paging:
          $ref: "#/components/schemas/Paging"

    PhoneNumber:
      type: object
      properties:
        id:
          type: string
          description: Phone number ID
        display_phone_number:
          type: string
          description: Display phone number
        verified_name:
          type: string
          description: Verified business name
        quality_rating:
          type: string
          enum:
            - GREEN
            - YELLOW
            - RED
          description: Quality rating
        code_verification_status:
          type: string
          description: Verification status

    Paging:
      type: object
      properties:
        cursors:
          $ref: "#/components/schemas/Cursors"

    Cursors:
      type: object
      properties:
        before:
          type: string
          description: Cursor for previous page
        after:
          type: string
          description: Cursor for next page
